imageio==2.16.2
keras==2.10.0
Markdown==3.3.6
matplotlib==3.5.1
numpy==1.22
opencv-python==4.5.5.62
pandas==2.0.0
Pillow==9.0.0
pipreqs==0.4.11
scikit-image==0.19.2
sewar==0.4.5
scikit-learn==1.2.2
tensorboard==2.10.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.1
visualkeras==0.0.2
geopy==2.3.0
